* {
  font-family: 'Press Start 2P';
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100svh;
  background-image: url(img/page-bg.jpg);
  background-position: center;
  background-size: cover;
}

#game {
  background-color: #14182e;
  /* border: 1px solid black; */
  flex-grow: 0;
}

#launch {
  all: unset;
  position: absolute;
  color: white;
  border: 3px solid white;
  padding: 12px;
  opacity: 100;
}

#launch:hover {
  color:yellow;
  border-color: yellow;
  cursor: pointer;
}

#launch.hide {
  opacity: 0;
  transition: 1s;
}